.navbar {
    background-color: rgba(34, 34, 34, 0.986)!important;
}
.collapse {
    justify-content: space-between;
}

.navbar-nav {
    margin: 0px!important; 
}

.btn-dark {
    position: absolute;
    right: 330px;
    color: rgb(98, 150, 192);
    font-family: Spectral, serif;
    border-color: rgb(98, 150, 192);
}

.signIn:hover{
    color: rgb(78, 135, 182);
    text-decoration: none;
}

#signIn{
    text-decoration: none;
    color: rgb(98, 150, 192);
    font-family: Spectral, serif;
    border-color: rgb(98, 150, 192); 
}

.nav-link {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    transition: 400ms;
    color: white!important;

}

#active {
    color: rgb(98, 150, 192)!important;
    font-size: 21px;
}

.ulright {
    margin-right: 10px!important;
}

.navhome {
    margin-left: 10px;
    transition: 400ms;
    color: white!important;
}

.nav-link:hover {
    color: rgb(98, 150, 192)!important;
    font-size: 21px;
}

.ulright i {
    color: rgb(98, 150, 192);
    font-size: 16px;
    margin-right: 10px;
}

.bg-dark {
    margin: auto;
}

.font-effect-fire {
    letter-spacing: 2px;
    font-size: 40px;
    transition: 500ms;
}

.font-effect-fire:hover{
    text-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em rgb(214, 201, 12), 0.01em -0.05em 0.15em rgb(223, 180, 12), 0.02em -0.15em 0.2em rgb(204, 126, 10), 0.04em -0.2em 0.3em rgb(216, 106, 10), 0.05em -0.25em 0.4em rgb(207, 103, 13), 0.06em -0.2em 0.9em rgb(214, 81, 14), 0.1em -0.1em 1em rgb(216, 69, 15);
}

.carouselArea {
    max-width: 1000px;
    margin: 10px auto;
}

.carousel-item img {
    object-fit: cover;
    height: 100%!important;
}

.popularRegions {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.card {
    margin-top: 5px;
}

.newsFeed {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin-top: 35px;
    margin-bottom: 40px;
    font-family: Spectral, serif;
    font-size: 40px;
}

h5 {
    font-family: Rubik, sans-serif;
}

a {
    font-family: Rubik, sans-serif;
    font-size: 16px;
}

/* footer */

footer {
    min-height: 100px;
}

#fbottomdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 270px;
    max-width: 475px;
    margin: auto;
}

#fbottomdiv h6 {
    margin: 40px auto;
    text-align: left;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    color: rgb(12, 12, 12);
}

.footerul {
    margin-right: 10px!important;
}

.footerul i {
    color: rgb(152, 152, 152);
    font-size: 14px;
    margin-right: 10px;
}

.footerul {
    display: flex;
    flex-direction: row!important;
    justify-content: space-around;
}

.fuldiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: auto;
}

.footerform {
    justify-content: space-between;
}

#socialPlatrofrms {
    font-size: large;
    color: black;
    text-shadow: none;
}

/* input focus and textarea focus */

input:focus, textarea:focus {
    border: none!important;
    border-bottom: solid 1px rgb(7, 7, 7)!important;
    box-shadow: none!important;
}

/* the end */

